/* https://tailwindcss.com/docs/preflight */
/* https://unpkg.com/tailwindcss@3.4.1/src/css/preflight.css */

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

#root {
  height: 100%;
}

pre.shiki {
  word-break: break-all;
  white-space: normal;
}

.ProseMirror {
  height: 100%;
}
.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  max-width: 100%;
  pointer-events: none;
}
.ProseMirror-gapcursor::after {
  border: 2px solid currentColor;
}

.shiki {
  padding: 50px 24px 14px 18px;
  overflow: auto;
}

.EmojiPickerReact {
  --epr-search-input-border-radius: 16px !important;
  --epr-header-padding: 4px !important;
  @media (prefers-color-scheme: dark) {
    --epr-hover-bg-color: #212529 !important;
    --epr-dark-bg-color: #16191d !important;
    --epr-dark-category-label-bg-color: #16191d !important;
    --epr-search-input-bg-color: #0d0f12 !important;
    --epr-search-input-bg-color-active: #0d0f12 !important;
    --epr-search-border-color: #212529 !important;
  }
}

html,
:host {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  line-height: inherit;
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

abbr:where([title]) {
  text-decoration: underline dotted;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;

  background-color: inherit;
}

button,
select {
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}

:-moz-focusring {
  outline: none;
}

:focus {
  outline: none;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

dialog {
  padding: 0;
}

textarea {
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
}

button,
[role='button'] {
  cursor: pointer;
  border: 0;
  vertical-align: top;
}

:disabled {
  cursor: default;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

img,
video {
  /* max-width: 100%; */
  /* react-strict dom is applying this causing a bunch of issues */
  /* height: unset; */
  /* aspect-ratio: unset; */
}

[hidden] {
  display: none;
}
